<form action='/recipes/create' method="POST" style="padding-top: 65px;">

  <div class="form-group">
    <label for="exampleTextarea">Name</label>
    <textarea class="form-control" id="ingredients" name = "name" value = "" rows="1"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Food Type</label>
    <textarea class="form-control" id="food_type" name = "food_type" rows="1"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Ingredients</label>
    <textarea class="form-control" id="ingredients" name = "ingredients" value = "" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Directions</label>
    <textarea class="form-control" id="directions" name = "directions" value = "" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Cook Time</label>
    <textarea class="form-control" id="cook_time" name = "cook_time" value = "" rows="1"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary" value="Save Song">Submit</button>
</form>